<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Polylang WPAI" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>Coding standards for Polylang PHPUnit</description>

	<arg value="p"/><!-- Shows progress. -->
	<arg name="colors"/><!-- Shows results with colors. -->
	<arg name="extensions" value="php"/><!-- Limits to PHP files. -->

	<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<file>.</file>

	<!-- Run against custom rules. -->
	<rule ref="Generic.Arrays.ArrayIndent"/>
	<rule ref="Generic.WhiteSpace.IncrementDecrementSpacing"/>
	<rule ref="Generic.WhiteSpace.LanguageConstructSpacing"/>
	<rule ref="PEAR.Commenting.FileComment.MissingVersion"/>
	<rule ref="PEAR.Functions.FunctionDeclaration.SpaceAfterFunction"/>
	<rule ref="Squiz.Commenting.LongConditionClosingComment.Missing"/>
	<rule ref="Squiz.ControlStructures.SwitchDeclaration.MissingDefault"/>
	<rule ref="Squiz.Functions.MultiLineFunctionDeclaration.SpaceAfterFunction"/>
	<rule ref="Squiz.WhiteSpace.ControlStructureSpacing.NoLineAfterClose"/>

	<!-- Our own ruleset. -->
	<rule ref="Polylang">
		<exclude name="Squiz.PHP.CommentedOutCode.Found"/>
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize"/>
		<exclude name="WordPress.WP.GlobalVariablesOverride.Prohibited"/>
		<exclude name="WordPressVIPMinimum.Files.IncludingFile.UsingVariable"/>
	</rule>

	<!-- Run against the PSR-4 ruleset. -->
	<!-- https://github.com/suin/phpcs-psr4-sniff -->
	<arg name="basepath" value="."/>
</ruleset>
