includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/wpsyntex/polylang-phpstan/extension.neon
parameters:
	level: max
	paths:
		- %currentWorkingDirectory%/UnitTests
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
	scanDirectories:
		- tmp/wordpress-tests-lib/includes
	ignoreErrors:
		- '#^Constant WPSYNTEX_PROJECT_PATH not found\.$#'
